node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

.env
.env.local
.env.*.local


env/
venv/
.venv/
__pycache__/
*.py[cod]

dist/
build/
coverage/

.DS_Store
.vscode/